.elementor-7 .elementor-element.elementor-element-6f830f2f .elementor-social-icon {
    background-color: #14fab9;
    --icon-padding: 0.6em;
}
.elementor-7 .elementor-element.elementor-element-7486e4eb .elementskit-infobox {
    background-color: #14fab9;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-3828d32e:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-3828d32e > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-d64d3f0 .elementor-button {
    background-color: #14fab9;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 32px 18px 32px;
}
.elementor-7 .elementor-element.elementor-element-6550225c .elementskit-btn {
    padding: 0px 0px 0px 0px;
    color: #14fab9;
    background-color: #FFFFFF00;
}
.elementor-7 .elementor-element.elementor-element-24750a40 .elementskit-infobox {
    background-color: #14fab9;
    padding: 20px 30px 20px 30px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-764e7b09 .elementor-button {
    font-size: 20px;
    fill: #14fab9;
    color: #14fab9;
    background-color: #FFFFFF00;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-1b14d0be .elementskit-infobox {
    background-color: #14fab9;
    padding: 20px 30px 20px 30px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-7363ede6 .elementor-button {
    font-size: 20px;
    fill: #14fab9;
    color: #14fab9;
    background-color: #FFFFFF00;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-265f8113 .elementskit-infobox {
    background-color: #14fab9;
    padding: 20px 30px 20px 30px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-1bd43c35 .elementor-button {
    font-size: 20px;
    fill: #14fab9;
    color: #14fab9;
    background-color: #FFFFFF00;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-3df1360d .elementor-heading-title {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ae637d8 .elementskit-infobox {
    background-color: #14fab9;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
}
.elementor-7 .elementor-element.elementor-element-2fa7b5f3 .elementor-button {
    font-weight: 600;
    background-color: #14fab9;
    border-radius: 100px 100px 100px 100px;
    padding: 18px 32px 18px 32px;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li.current-menu-item > a {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-61982a50:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-61982a50 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-45fedd3d > .elementor-widget-container {
    padding: 0px 25px 0px 25px;
    background-color: transparent;
    background-image: linear-gradient(220deg, #14fab9 48%, #FFFFFF00 26%);
}
.elementor-7 .elementor-element.elementor-element-184b2556 .elementor-button {
    background-color: #14fab9;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 32px 18px 32px;
}
.elementor-7 .elementor-element.elementor-element-1761831e .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-4442dff1 .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:hover {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:active {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:hover {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-6550225c .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-f1f7ada .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-5576fbfb .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-5b82f662 .elementskit-infobox.gradient-active:hover::before {
    background-color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-79dfaa2d .elementor-heading-title {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2a7af2b .elementor-heading-title {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-5576fbfb .elementskit-btn {
    padding: 0px 0px 0px 0px;
    color: #14fab9;
    background-color: #FFFFFF00;
}
.elementor-7 .elementor-element.elementor-element-5b82f662 .elementskit-btn {
    padding: 0px 0px 0px 0px;
    color: #14fab9;
    background-color: #FFFFFF00;
}
.elementor-7 .elementor-element.elementor-element-f1f7ada .elementskit-btn {
    padding: 0px 0px 0px 0px;
    color: #14fab9;
    background-color: #FFFFFF00;
}
.elementor-icon-list-item a:hover{
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav .elementskit-submenu-panel > li > a:hover {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav .elementskit-submenu-panel > li > a:active {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:active {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:focus {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-2ea94e63 .elementskit-navbar-nav > li > a:hover {
    color: #14fab9;
}
element.elementor-element-2ea94e63 .elementskit-navbar-nav > li:hover > a {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-16cee3eb .elementor-button {
    background-color: #14fab9;
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    padding: 20px 40px 20px 40px;
}
.elementor-7 .elementor-element.elementor-element-4e7dd4e3 .ekit-video-popup-btn {
    width: 80px;
    height: 80px;
    line-height: 70px;
    color: #FF4255;
    background-color: #FFFFFF;
    display: none;
}
.elementor-7 .elementor-element.elementor-element-565d6765 .elementor-heading-title {
    color: #14fab9;
}
.elementor-7 .elementor-element.elementor-element-6ce454e8 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    border-color: #14fab9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 30px;
}
.elementor-7 .elementor-element.elementor-element-221d306e .ekit-video-popup-btn {
    width: 60px;
    height: 60px;
    line-height: 44px;
    color: #FF4255;
    background-color: #FFFFFF;
    display: none;
}
#hover li a span:hover{
    color: #14fab9;
}
